extends ../layouts/default

mixin competency(competency)
    .competency
        h6= competency.title
        p= competency.description

mixin portfolio(project)
    a(href=project.url).card
        img.card-img-top(src=project.logo, alt=project.logoAlt)
        .card-body
            h5.card-title= project.title
            p.card-text= project.description

mixin skill(skill)
    a.skill(href=skill.url, target="_blank")
        img(src=`@images/skills/${skill.name.toLowerCase()}.svg`, alt=skill.alt || name, title=skill.name)

mixin footerLink(link)
    a(href=link.href, target=link.target)= link.title

mixin renderFooterLinks(footerLinks)
    .col-md-3.footer-column
        each link in footerLinks
            +footerLink(link)
    //- -
    //-     const groupedLinks = {};
    //-     footerLinks.forEach(link => {
    //-         const column = link.column || 0;
    //-         if (!groupedLinks[column]) groupedLinks[column] = [];
    //-         groupedLinks[column].push(link);
    //-     });
    //-     const sortedColumns = Object.keys(groupedLinks).sort((a, b) => a - b);
    //- each column in sortedColumns
    //-     .col-md-3.footer-column
    //-         each link in groupedLinks[column]
    //-             +footerLink(link)

block content
    section#about
        .container
            .row.align-items-center
                .col-lg-4.col-md-5.text-center
                    .about-image
                        img(src="@images/_arthur_rahimov-avatar.jpg", alt="Arthur Rahimov", class="rounded-circle img-fluid shadow-lg")
                .col-lg-8.col-md-7
                    .about-text-box
                        h2.text-center.text-md-start About
                        // Блоки сообщений
                        .message-container
                            .message-box(data-delay="1")
                                p.text-muted
                                    | With over 8 years of freelance experience, I specialize in backend web development using PHP,
                                    | Laravel, Lumen, NodeJS, NestJS, TypeScript, and JavaScript.
                            .message-box(data-delay="2")
                                p.text-muted
                                    | My focus is on delivering high-quality work efficiently, whether it's developing high-traffic systems,
                                    | microservices architecture, or SaaS/PaaS solutions.
                            .message-box(data-delay="3")
                                p.text-muted
                                    | I prioritize both quality and speed, leveraging existing solutions when feasible, and can also take on
                                    | Team Lead responsibilities.
    section#portfolio
        .container
            h2 Portfolio
            .row.justify-content-center
                each project in portfolioItems
                    .col-md-4
                        +portfolio(project)

    section#competencies
        .container
            h2 My Competencies
            .row.justify-content-center
                each competency in competencies
                    .col-md-6
                        +competency(competency)

    section#skills
        .container
            .skill-grid
                each skill in skills
                    +skill(skill)

    section#footer-menu
        .container
            .row.justify-content-center.text-center
                +renderFooterLinks(footerLinks)