extends default

block content
    section#project
        .container
            h1= title
            img(src=logo.src, alt=logo.alt).logo
            .photos
                each photo in photos
                    a(href=photo.url)
                        img(src=photo.url)
            h2 Role
            .role= role
            h2 Type
            .type= type
            h2 Description
            .description= description
            h2 Stack
            .stack
                ul
                    each skill in stack
                        li= skill
            h2 Responsibilities
            .responsibilities
                ul
                    each responsibility in responsibilities
                        li= responsibility
            .date Date of Implementation: #{date}
            a.visit-project(href=url, target="_blank") Visit Project Website
